<div class="row">
 <div class="col-sm-12">
     <table class="table">
    <thead>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>规格</th>
            <th>价格</th>
            <th>数量</th>
            <th>状态</th>
        </tr>
    </thead>
    <tbody>
        {% for m in details %}
        <tr>
            <td>{{ m.product.code }}</td>
            <td>{{ m.product.name }}</td>
            <td>{{ m.product.standard }}</td>
            <td>{{ m.product.price }}</td>
            <td>{{ m.number }}</td>
            {% if m.direct == 0 %}
                <td>退货</td>
            {% endif %}
            {% if m.direct == 1 %}
                <td>换货</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
 </div>
</div>