{% extends 'layout.html' %}
{% load staticfiles %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap-table.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/daterangepicker.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap-multiselect.css' %}">
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <div class="card-title"> 销售分析 </div>
        <div class="pull-right card-action">
            <div role="group">
                <form class="form-inline" method="get">
                    <select id="selProduct" name="selProduct" class="form-control" multiple="multiple">
                        {% for product in  products %}
                        <option value="{{ product.id }}">{{ product.name }}</option>
                        {% endfor %}

                    </select>
                    <input id="rangeDate" name="rangeDate" class="form-control" style="width: 300px" placeholder="选择时间段">

                    <button class="btn btn-primary">统计</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <canvas id="bar-chart" class="chart" width="567" height="309" style="width: 567px; height: 309px;"></canvas>
    </div>
</div>`
{% endblock %}
{% block scripts %}
   <script type="text/javascript" src="{% static 'lib/js/bootstrap-table.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'lib/js/bootstrap-table-zh-CN.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'lib/js/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/bootstrap-multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/jquery.tmpl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datapicker.js' %}"></script>

    <script type="text/javascript">
    var datasource = {{ ret |safe }}

        $(function () {
            datepickerInit("#rangeDate");
            $("#selProduct").multiselect({});
            colors = ['#f00', '#0f0', '#0ff', '#00f'];
            var ds = [];
            for(var i in datasource['fields']){
                var item = {
                    label: datasource['fields'][i],
                    fillColor: colors[i],
                    strokeColor: colors[i],
                    data: datasource['values'][i]
                }
                ds.push(item)
            }

            data = {
                labels: datasource['labels'],
                datasets: ds
            };
            ctx = $('#bar-chart').get(0).getContext('2d');
            myBarChart = new Chart(ctx).Bar(data);
        });

    </script>
{% endblock %}
