{% extends 'layout.html' %}
{% load staticfiles %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap-table.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrapValidator.min.css' %}">
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <div class="card-title"> 角色管理 </div>
        <div class="pull-right card-action">
            <div role="group">
                <button type="button" id="btnEdit" class="btn btn-primary" onclick="showEdit(0)"> 添加 </button>
            </div>
        </div>
    </div>
    <div class="card-body">
       <table id="tableUser">
           <thead>
                <tr>
                    <th data-field="id">编号</th>
                    <th data-field="name">角色</th>
                    <th data-field="id" data-formatter="fmt.optFormatter">操作</th>
                </tr>
           </thead>
       </table>
    </div>
</div>
<div class="modal fade" id="frmCreate" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="添加品种">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加用户</h4>
            </div>
            <div class="modal-body">
                <form id="frmRole" class="form-horizontal">
                    {% csrf_token %}
                    <input type="hidden" id="id" name="id" value="" />
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">角色</label>
                        <div class="col-sm-6">
                            <input class="form-control" id="name" name="name" value="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-primary"> 保存 </button>
                <button type="button" class="btn btn-default"  data-dismiss="modal"> 取消 </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
   <script type="text/javascript" src="{% static 'lib/js/bootstrap-table.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'lib/js/bootstrap-table-zh-CN.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/bootstrapValidator.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/role.js' %}"></script>
{% endblock %}