{% extends 'layout.html' %}
{% load staticfiles %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap-table.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/daterangepicker.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap-multiselect.css' %}">
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <div class="card-title"> 销售分析 </div>
        <div class="pull-right card-action">
            <div role="group">
                <form class="form-inline" method="get">
                    <input id="rangeDate" name="rangeDate" class="form-control" placeholder="选择时间段">
                    <button class="btn btn-primary">统计</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <canvas id="number-chart" class="chart" style="width: 100%; height: 360px;"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <canvas id="money-chart" class="chart" style="width: 100%; height: 360px;"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="table1" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>品种</th>
                            <th>数量</th>
                            <th>总量</th>
                            <th>金额</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tr in data.table %}
                        <tr>
                            {% for td in  tr %}
                            <td>{{ td }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>`
{% endblock %}
{% block scripts %}
   <script type="text/javascript" src="{% static 'lib/js/bootstrap-table.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'lib/js/bootstrap-table-zh-CN.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'lib/js/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/bootstrap-multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/jquery.tmpl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datapicker.js' %}"></script>

    <script type="text/javascript">
    var datasource = {{ data.chart |safe }}

        $(function () {
            datepickerInit("#rangeDate");
            $("#selProduct").multiselect({});
            $("#table1").rowspan(0);
            colors = ['#f00', '#0f0', '#0ff', '#00f'];
            var ds1 = [];
            for(var i in datasource['fields']){
                var item = {
                    label: datasource['fields'][i],
                    borderColor: colors[i],
                    data: datasource['values'][0][i]
                }
                ds1.push(item)
            }

            data1 = {
                labels: datasource['labels'],
                datasets: ds1
            };
            var ds2 = [];
            for(var i in datasource['fields']){
                var item = {
                    label: datasource['fields'][i],
                    borderColor: colors[i],
                    data: datasource['values'][1][i]
                }
                ds2.push(item)
            }

            data2 = {
                labels: datasource['labels'],
                datasets: ds2
            };

            options1 = {
                legend: {
                    display: true,
                    labels: {
                        fontColor: 'rgb(255, 99, 132)'
                    }
                },
                title: {
                    display: true,
                    text: '收购数量分析'
                }
            }
            options2 = {
                legend: {
                    display: true,
                    labels: {
                        fontColor: 'rgb(255, 99, 132)'
                    }
                },
                title: {
                    display: true,
                    text: '销售金额分析'
                }
            }

            var ctx = $('#number-chart').get(0).getContext('2d');
            var numberChart = new Chart(ctx, {
                type: "line",
                data: data1,
                options: options1
            });

            var ctx = $('#money-chart').get(0).getContext('2d');
            var moneyChart = new Chart(ctx, {
                type: "line",
                data: data2,
                options: options2
            });

        });

    </script>
{% endblock %}
