{% extends 'layout.html' %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap-table.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/daterangepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap-multiselect.css' %}">
{% endblock %}
{% block content %}
    <div class="modal fade" id="frmCreate" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="添加品种">
        <div class="modal-dialog" style="width: 1080px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">收购品种编辑</h4>
                </div>
                <div class="modal-body">
                    <div id="print-block">
                        <div class="title">
                            <div id="alertContainer"></div>
                            <div id="printContainer" style="text-align: center">
                                <h2 style="letter-spacing: 5px">锡林浩特市蒙辰畜产品有限公司</h2>
                                <div style="text-align: center">收购时间：<span id="span_datetime"></span>收购编号：<span
                                        id="span_no"></span></div>
                            </div>
                        </div>
                        <div>
                            <table id="collectDetailsTable" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th data-field="category.name">名称</th>
                                    <th data-field="m_weight">毛重</th>
                                    <th data-field="p_weight">皮重</th>
                                    <th data-field="weight">净重</th>
                                    <th data-field="kg" data-formatter="kg">单位</th>
                                    <th data-field="price">单价</th>
                                    <th data-field="number">羊数</th>
                                    <th data-field="number">合计金额</th>
                                </tr>
                                </thead>
                            </table>
                            <div class="row" style="margin-left: 10px">
                                <div style="margin: 10px 0">合计：
                                    <span style="letter-spacing: 25px;margin-left: 25px">
                                        <span>拾</span>
                                        <span>万</span>
                                        <span>千</span>
                                        <span>百</span>
                                        <span>拾</span>
                                        <span>元</span>
                                        <span>角</span>
                                        <span>分</span>
                                    </span>
                                    总价：<span id="totalPrice">123556</span>&nbsp;数量：<span id="totalNumber">26</span>

                                </div>
                                <p style="width: 230px;float: left;">开票人：</p>
                                <p style="width: 200px;float: left;">货主：</p>
                                <p style="width: 200px;float: left;">财会：</p>
                                <p style="width: 200px;float: left;">出纳：</p>
                                <p style="width: 200px;float: left;">电话：132 6542 5412</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" onclick="printme()" class="btn btn-primary" data-dismiss="modal"> 打印</button>
                    <button type="button" id="back" class="btn btn-default" data-dismiss="modal"> 取消</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-title"> 收购信息</div>
            <div class="pull-right card-action">
                <div role="group">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-9">
                    <table id="collectTable">
                        <thead>
                        <tr>
                            <th data-field="sg_no">批次</th>
                            <th data-field="customer" data-formatter="tableFormatter.custFormatter">交货人</th>
                            <th data-field="sg_datetime">时间</th>
                            <th data-field="total_number">总数量</th>
                            <th data-field="total_weight" data-formatter="tableFormatter.weightFormatter">总重量</th>
                            <th data-field="total_price" data-formatter="tableFormatter.moneyFormatter">总金额</th>
                            <th data-field="state" data-formatter="tableFormatter.stateFormatter">状态</th>
                            <th data-field="id" data-formatter="tableFormatter.optFormatter">操作</th>
                        </tr>
                        </thead>
                    </table>
                    <template id="rowButtons">
                        <div class="table-button">
                            {% if perms.raw.collect_create %}
                            <a id="a1" href='/raw/collect/create?id=${id}'>称重</a>
                            {% endif %}
                            {% if perms.raw.collect_print %}
                            <a id="a2" href='javascript:showPrint(${id})'>打印</a>
                            {% endif %}
                            {% if perms.raw.collect_payview %}
                            <a id="a3" href='/raw/collect/pay?id=${id}'>结算</a>
                            {% endif %}
                            {% if perms.raw.collect_edit %}
                            <a id="a4" href='/raw/collect/edit?id=${id}'>编辑</a>
                            {% endif %}
                            {% if perms.raw.collect_delete %}
                            <a id="a5" href='javascript:delCollect(${id})'>删除</a>
                            {% endif %}
                        </div>
                    </template>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">查询</div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="state">状态</label>
                                    <div class="col-sm-9">
                                        <select id="state" name="state" multiple="multiple">
                                            <option value="0">暂存</option>
                                            <option value="1">未结算</option>
                                            <option value="2">结算中</option>
                                            <option value="3">完成</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="sg_datetime">时间</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="sg_datetime" name="sg_datetime">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="sg_no">批次</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="sg_no" name="sg_no">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="cust_name">交货人</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="cust_name" name="cust_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <button type="button" id="btnSearch" class="btn btn-primary"><span
                                                class="fa fa-search"></span>查询
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'lib/js/bootstrap-table.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/bootstrap-table-zh-CN.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/bootstrap-multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/jquery.tmpl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datapicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/raw/collect_list.js' %}"></script>
{% endblock %}